.item{
    width: 300px;
    height: 200px;
    background: grey;
    background-repeat: no-repeat;
    background-size: contain;
    
    border-radius: 5px;
    margin: 5px;
    flex: 0 0 auto; /* Prevents flex items from shrinking */
    position: relative;

}

.item_title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 40px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}